body {
    font-family: 'Rowdies', sans-serif;
    background-color: #fff;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.stats-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

.stat-item {
    flex: 1;
    padding: 20px;
    border-right: 1px solid #c4c4c4;
}

.stat-item:last-child {
    border-right: none;
}

.stat-icon {
    font-size: 36px;
    color: #c3002f;
    margin-bottom: 10px;
}

h2 {
    font-size: 36px;
    margin: 0;
    color: #333;
}

p {
    margin-top: 5px;
    color: #888;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

