body {
  font-family: Kanit, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 0 20px;
}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.icon {
  font-size: 24px;
  margin-bottom: 10px;
}

h3 {
  margin: 0;
  font-size: 18px;
}

p {
  margin: 10px 0 0;
  color: #777;
}

.image {
  flex-shrink: 0;
}

.image img {
  max-width: 400px;
  height: auto;
  border-radius: 16px;
}
